ul {
    list-style-type: none;
}

p {
    margin: 0;
}

li {
    margin-left: 25px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: Roboto;
    font-style: normal;
}

header {
    background: #EEEEEE;
}

section {
    border-bottom: 2px solid #EEEEEE;
}

.container {
    width: 1157px;
    margin: 0 auto;
}

.top-panel {
    display: flex;
    justify-content: space-between;
}

.hover-color-red:hover {
    color: red;
}
.font {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}

.top-panel-list ul {
    display: flex;
}

.slider {
    display: flex;
    justify-content: space-between;
}

.slider-header {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 9px;
}

.slider-section {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 38px;
}

.slider-btn {
    width: 240px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    background: #FB565A;
    border-radius: 3px;
    border: none;
}

.top-panel-basket {
    margin-top: 16px;
}

.top-panel {
    padding-top: 49px;
}

.padding {
    margin-right: 45px;
}

.top-panel-basket > a {
    margin-left: 25px;
}

.product-list {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
}

.product-list-item-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px;
}

.product-list-item-section {
    width: 260px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}

.product-list-item-btn {
    width: 160px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    background: #FB565A;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
}

.color-green-btn {
    background: #00CA74;
}

.flex {
    display: flex;
}


.color-yellow-btn {
    background: #EFC849;
}

